<template>
    <div class="ui secondary pointing menu">
        <router-link to="/" class="active item">Image Storage</router-link>

        <div class="right menu">
            <div v-if="isLoggedIn" class="horizontal">
                <!-- using router-link simply changes the url and avoids a full reload of the page that a normal 'a' (anchor tag) does by default -->
                <router-link to="/" class="item">Galleries</router-link> 
                <router-link to="/upload" class="item">Upload</router-link>
                <a class="item" @click="logout">Logout</a>
                <!-- in the login/logout buttons, we're not doing any navigation, so we can keep it as 'a' tag -->
            </div>
            <a v-else href="#" class="ui item" @click="login">Login</a>
        </div>
    </div>
    
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    name: 'AppHeader',
    computed: mapGetters(['isLoggedIn']),
    // it's in the computed to get the updated data
    methods: mapActions(['login', 'logout']),
// this connects an action to a component (need to import the function mapActions above). We don't need to specify that the action 'login' comes from the auth module. Vuex will look for all modules and match the name
 
// in the documentation, we might find the following sintax:
/*
methods: {
    ...mapActions(['login]),
    anotherFunction() {

    }
}
This allows us to add other methods besides the mapActions, but since we won't need it, the current sintax is fine
*/
}
</script>


<style scoped>

.horizontal {
 display: flex;
 flex-direction: row;
}

</style>
