<template>
  <div>
    Please wait...
  </div>
<!-- information that shows while we're getting the token -->
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'AuthHandler',
    methods: mapActions(['finalizeLogin']),
    created() {
        //best life cycle method for data loading
        this.finalizeLogin(window.location.hash);
        /* we pass the url after the hash as an argument
        Eg.: "#access_token=4ab2a04b5bbc9afa754d2d3b507a251c517168e2&expires_in=315360000&token_type=bearer&refresh_token=742ef214d2f2ada8914fad207d7daf42399cfb9c&account_username=rubenberna&account_id=88638855"
        The auth module's action will then parse the token
        */
    }
}
</script>
