<template>
    <div class="dropper">
        <input type="file" 
        @change="uploadImages($event.target.files)"
        multiple
        accept="image/*"
        />
        <!-- listens to a change in the selection of the input value. The uploadImages action brings an event and not the files themselves. We are changing that directly in the event handler by passing on only the files to the action.
        The $ sign tells vue that we want to take the event object that comes from triggering the change event.
        Multiple allows us to upload multiple files and accept restricts the type of file to images  -->
        <span>Drag files here!</span>
    </div>
</template>


<script>
import { mapActions } from 'vuex';

export default {
    name: 'UploadForm',
    methods: mapActions(['uploadImages'])
}
</script>

<style scoped>

.dropper {
    height: 30vh;
    border: 2px dashed black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropper:hover {
    background-color: #eee;
}

input {
    width: 100%;
    height: 30vh;
    position: absolute;
    opacity: 0;
}

</style>
