<template>
  <div>
    <AppHeader> </AppHeader>
    <div class="ui container">
      <router-view></router-view>
      <!-- everytime that vueRouter matches up a route, it's gonna take that component and put it right in the router-view tag -->
    </div>
  </div>
</template>

<script>
import AppHeader from './components/AppHeader';
export default {
  name: 'App',
  components: {
    AppHeader
  }
}
</script>

<style>

</style>
